*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background: rgba(139, 145, 255, 0.9);
    position: fixed; 
    right: 0;
    left: 0;
    top: 0;
    padding: 20px;
}

.list-link{
    text-decoration: none;
    text-transform: uppercase;
    color: brown;
    font-size: 30px;
    font-weight: bold;
}

.list-item{
    list-style: none;
}

.section-banner{
    margin-top: 420.8px ;
}

.card-wrap {
    padding: 15px;
    width: 25%;
}

.card {
    min-width: 225px;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
}

.card-details{
    padding: 20px;
    background-color: #f9f9ff;
}

.card-button{
    text-decoration: none;
    font-size: 20px;
}
.card-text{
    font-size: 18px;
}

.card-header{
    font-size: 25px;
}

.banner-text{
    font-size: 25px;
    padding: 20px;
    background-color: crimson;
    font-weight: bold;
}